# Gradle
.externalNativeBuild/
.gradle/
.idea/
LatinIME.iml
build/
local.properties
crashreporting.properties
keystore.properties
key.jks
java/res/raw/mozc.data
.cxx
/jdk-17/
/android-sdk/
build_apk.sh
github_token.txt
